<div id="content" class="site-content shop-content">
    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/images//placeholder/blog-title.jpg">
        <div class="container">
            <h1>Shopping Cart</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span class="current">Shopping Cart</span></li>
                </ul>
            </div><!-- .breadcrumb -->
        </div><!-- .container -->
    </div><!-- .page-title -->
    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <form class="cart-form" action="#" />
                        <div class="table-responsive">
                            <table class="table cart-table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th class="product-name">Product</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr>
                                        <td class="product-remove">
                                            <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">
                                                <img src="~/images//placeholder/cart1.jpg" alt="" />
                                                <span>Big Magic</span>
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$119.00</p>
                                        </td>
                                        <td>
                                            <div class="quantity">
                                                <input type="text" value="1" title="Qty" class="qty" size="4" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <p class="price">$119.00</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="product-remove">
                                            <a href="#" class="remove"><i class="fa fa-times"></i></a>
                                        </td>
                                        <td class="product-name">
                                            <a href="single-product.html">
                                                <img src="~/images//placeholder/cart2.jpg" alt="" />
                                                <span>How We'll Live on Mars</span>
                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <p class="price">$119.00</p>
                                        </td>
                                        <td>
                                            <div class="quantity">
                                                <input type="text" value="1" title="Qty" class="qty" size="4" />
                                            </div>
                                        </td>
                                        <td class="product-subtotal">
                                            <p class="price">$119.00</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td class="product-action" colspan="5">
                                            <input type="text" placeholder="Coupon code" class="pull-left" />
                                            <input type="button" value="Apply Coupon" class="button primary rounded pull-left" />
                                            <input type="button" value="Update Cart" class="button primary rounded pull-right" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </form>
                    </div>

                    <div class="col-md-4">
                        <div class="cart-collaterals">
                            <h2>Cart Totals</h2>
                            <table>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal:</th>
                                        <td><span class="amount">$229.00</span></td>
                                    </tr>
                                    <tr class="shipping">
                                        <th>Shipping:</th>
                                        <td>
                                            <p>There are no shipping methods available. Please double check your address, or contact us if you need any help.</p>

                                            <a class="shipping-calculator-button" href="#">Calculate Shipping</a>

                                            <form action="#" method="get" accept-charset="utf-8" />
                                            <div class="selectbox">
                                                <select name="country">
                                                    <option />Select a country...
                                                    <option value="vietnam" />Vietnam
                                                    <option value="us" />US
                                                    <option value="uk" />UK
                                                </select>
                                            </div>

                                            <input type="text" placeholder="State / country" />

                                            <input type="text" placeholder="Post Code / Zip" />

                                            <input type="button" value="Update Totals" class="button primary rounded" />
                                            </form>
                                        </td>
                                    </tr>

                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><span class="amount">$229.00</span></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a class="button large full rounded proceed-checkout" href="#">Proceed to Checkout <i class="fa fa-long-arrow-right"></i></a>
                        </div><!-- .cart-collaterals -->
                    </div>
                </div><!-- .row -->
            </main><!-- .site-main -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->
