<div id="content" class="site-content">
    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/about-title.jpg">
        <div class="container">
            <h1>Contact Us</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span class="current">Contact Us</span></li>
                </ul>
            </div><!-- .breadcrumb -->
        </div><!-- .container -->
    </div><!-- .page-title -->

    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="contact-form">
                            <h3 class="title">Contact Form</h3>
                            <p>Send an email. All fields with an * are required.</p>
                            <form action="#" method="get" />
                            <input class="input-text" type="text" placeholder="Your Name *" />
                            <input class="input-text" type="email" placeholder="Your Email *" />
                            <div class="selectbox">
                                <select>
                                    <option />-- Select subjects *
                                    <option value="subjects one" />Subjects one
                                    <option value="subjects two" />Subjects two
                                </select>
                            </div>
                            <textarea rows="2" cols="50" placeholder="Your Message *"></textarea>
                            <div class="checkbox">
                                <input id="send" type="checkbox" value="1" />
                                <label for="send">Send copy to yourself</label>
                            </div>
                            <input class="button primary rounded" type="submit" value="Send Email" />
                            </form>
                        </div><!-- .contact-form -->
                    </div>

                    <div class="col-md-6">
                        <div class="contact-info">
                            <div id="map"></div>

                            <h3 class="title">Contact Infomation</h3>
                            <p>Address: 273 5th Ave  New York, NYC 10018, United States</p>
                            <p>Phone: +(112) 345 6879</p>
                            <p>Fax: +(112) 345 8796</p>
                            <p>Email: <a href="mailto:contact@university.com">contact@university.com</a></p>
                        </div><!-- .contact-info -->
                    </div>
                </div>
            </main><!-- .site-main -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->