<div id="content" class="site-content">
    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/event-title.jpg">
        <div class="container">
            <h1>Event Calendar</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span class="current">Event Calendar</span></li>
                </ul>
            </div><!-- .breadcrumb -->
        </div><!-- .container -->
    </div><!-- .page-title -->

    <div class="container">
        <div class="row">
            <main id="main" class="site-main col-md-12">
                <div id="calendar" class="shadow"></div>
            </main><!-- .site-main -->
        </div><!-- .row -->
    </div><!-- .container -->
</div><!-- .site-content -->

