
@{
    ViewBag.Title = "Index";
}

<div id="content" class="site-content">
    <main id="main" class="site-main">
        <section class="main-slider only-title">
            <div class="slider">
                <div class="item">
                    <img src="~/images/placeholder/slider7.jpg" alt="" />
                    <div class="container">
                        <div class="slider-content">
                            <div class="desc">
                                <h2>The best Education theme</h2>
                            </div>
                        </div><!-- .slider-content -->
                    </div><!-- .container -->
                </div><!-- .item -->

                <div class="item">
                    <img src="~/images/placeholder/slider5.jpg" alt="" />
                    <div class="container">
                        <div class="slider-content">
                            <div class="desc">
                                <h2>Back to schools</h2>
                            </div>
                        </div><!-- .slider-content -->
                    </div><!-- .container -->
                </div><!-- .item -->

                <div class="item">
                    <img src="~/images/placeholder/slider6.jpg" alt="" />
                    <div class="container">
                        <div class="slider-content">
                            <div class="desc">
                                <h2>The University of American</h2>
                            </div>
                        </div><!-- .slider-content -->
                    </div><!-- .container -->
                </div><!-- .item -->
            </div><!-- .slider -->
        </section><!-- .main-slider -->

        <section id="home-services-2">
            <div class="container">
                <div class="row animation-element fade-in">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-box icon-cycle">
                            <span class="icon"><img src="~/images/assets/icons/icon7.png" alt="" /></span>
                            <div class="info">
                                <h3>University Themes</h3>
                                <p>Quisque pulvinar libero dolor, quis bibendum eros euismod sit amet. Proin dapibus id diam at</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-box icon-cycle">
                            <span class="icon"><img src="~/images/assets/icons/icon8.png" alt="" /></span>
                            <div class="info">
                                <h3>Onine Courses</h3>
                                <p>Pellentesque non diam euismod metus vehicula varius. Donec et velit placerat arcu lobortis.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-box icon-cycle">
                            <span class="icon"><img src="~/images/assets/icons/icon9.png" alt="" /></span>
                            <div class="info">
                                <h3>Event Tickets</h3>
                                <p>Gravida at convallis a, tempor sed magna. Pellentesque non diam euismod metus vehicula</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="service-box icon-cycle">
                            <span class="icon"><img src="~/images/assets/icons/icon10.png" alt="" /></span>
                            <div class="info">
                                <h3>Book Store</h3>
                                <p>Pellentesque non diam euismod metus vehicula varius. Donec et velit placerat fermentum arcu</p>
                            </div>
                        </div>
                    </div>
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- #home-services-2 -->

        <section id="home-blog">
            <div class="container">
                <h2 class="main-title ribbon"><span>Latest News</span></h2>
                <p class="center">Universum courses are organized based on technology and the right course for you.</p>

                <div class="row animation-element fade-in">
                    <article class="col-md-4 col-sm-6 post">
                        <div class="inner-post">
                            <div class="post-thumb">
                                <a href="single.html" class="mini-zoom"><img src="~/images/placeholder/blog2.jpg" alt="" /></a>
                            </div><!-- .post-thumb -->

                            <div class="post-info">
                                <h3 class="post-title"><a href="single.html">Back to school with courses of Universum</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>
                                </ul>
                                <div class="post-desc">
                                    <p>Nulla cursus augue elit, at ullamcorper urna rhoncus a. Proin ipsum tortor, gravida at convallis a, tempor sed magna</p>
                                </div><!-- .post-desc -->
                                <a href="single.html" class="link">Read more</a>
                            </div><!-- .post-info -->
                        </div><!-- .inner-post -->
                    </article>

                    <article class="col-md-4 col-sm-6 post">
                        <div class="inner-post">
                            <div class="post-thumb">
                                <a href="single.html" class="mini-zoom"><img src="~/images/placeholder/blog3.jpg" alt="" /></a>
                            </div><!-- .post-thumb -->

                            <div class="post-info">
                                <h3 class="post-title"><a href="single.html">Research works of students about to be start</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>
                                </ul>
                                <div class="post-desc">
                                    <p>Morbi iaculis, sem vel luctus pulvinar, tortor dolor pharetra enim, porta gravida nulla turpis sed risus. In turpis ligula</p>
                                </div><!-- .post-desc -->
                                <a href="single.html" class="link">Read more</a>
                            </div><!-- .post-info -->
                        </div><!-- .inner-post -->
                    </article>

                    <article class="col-md-4 col-sm-6 post">
                        <div class="inner-post">
                            <div class="post-thumb">
                                <a href="single.html" class="mini-zoom"><img src="~/images/placeholder/blog4.jpg" alt="" /></a>
                            </div><!-- .post-thumb -->

                            <div class="post-info">
                                <h3 class="post-title"><a href="single.html">School euismod, arcu vel porttitor consectetu</a></h3>
                                <ul class="post-meta">
                                    <li><i class="fa fa-clock-o"></i> February  10, 2016</li>
                                </ul>
                                <div class="post-desc">
                                    <p>Phasellus lorem enim, luctus ut velit eget, convallis egestas eros. Sed ornare ligula eget tortor tempor, quis porta tellus dictum.</p>
                                </div><!-- .post-desc -->
                                <a href="single.html" class="link">Read more</a>
                            </div><!-- .post-info -->
                        </div><!-- .inner-post -->
                    </article>
                </div>
            </div>
        </section><!-- #home-blog -->

        <section id="call-to-action" class="call-to-action parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/calltoaction2.jpg">
            <div class="container">
                <div class="call-to-action-content">
                    <h2>University Themes</h2>
                    <div class="desc">Make Your Success a Priority</div>
                    <a href="#" class="button primary rounded large animation-element fade-left">Apply Now</a>
                    <a href="#" class="button pink rounded large animation-element fade-right">Campus Life</a>
                </div><!-- .call-to-action-content -->
            </div><!-- .container -->
        </section><!-- .call-to-action -->

        <section id="home-professor">
            <div class="container">
                <h2 class="main-title ribbon"><span>Featured Professor</span></h2>
                <p class="center">Professor mauris nisl velit auctor eget ex eget, pretium elementum commodo massa metus</p>

                <div class="team-slider carou-slider animation-element fade-in">
                    <div class="slider">
                        <div class="item">
                            <div class="team box">
                                <div class="thumb">
                                    <img src="~/images/placeholder/team1.png" alt="" />
                                    <div class="thumb-info">
                                        <div class="socials">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div><!-- .thumb-info -->
                                </div><!-- .thumb -->

                                <div class="info">
                                    <span class="name">Peter Hart</span>
                                    <span class="job">Economic professor</span>
                                    <p>Nam tempus ipsum non magna varius imperdiet. Etiam non sapien id diam cursus rutrum. Nulla nec leo ultrices, porttitor dui vel ornare massa.</p>
                                </div>
                            </div><!-- .team -->
                        </div><!-- .item -->

                        <div class="item">
                            <div class="team box">
                                <div class="thumb">
                                    <img src="~/images/placeholder/team2.png" alt="" />
                                    <div class="thumb-info">
                                        <div class="socials">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div><!-- .thumb-info -->
                                </div><!-- .thumb -->

                                <div class="info">
                                    <span class="name">Betty Lane</span>
                                    <span class="job">Biological Professor</span>
                                    <p>Curabitur laoreet imperdiet eros, condimentum feugiat quam. Maecenas elementum metus leo, vitae pellentesque justo. Nunc iaculis, velit ac posuere</p>
                                </div>
                            </div>
                        </div><!-- .item -->

                        <div class="item">
                            <div class="team box">
                                <div class="thumb">
                                    <img src="~/images/placeholder/team3.png" alt="" />
                                    <div class="thumb-info">
                                        <div class="socials">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div><!-- .thumb-info -->
                                </div><!-- .thumb -->

                                <div class="info">
                                    <span class="name">Richard Pierce</span>
                                    <span class="job">Economics professor</span>
                                    <p>Nullam sed egestas nisi, sit amet commodo ex. Pellentesque egestas lobortis enim, quis laoreet ligula sodales nec. In lectus ante, gravida id  consectetur</p>
                                </div>
                            </div>
                        </div><!-- .item -->

                        <div class="item">
                            <div class="team box">
                                <div class="thumb">
                                    <img src="~/images/placeholder/team4.png" alt="" />
                                    <div class="thumb-info">
                                        <div class="socials">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div><!-- .thumb-info -->
                                </div><!-- .thumb -->

                                <div class="info">
                                    <span class="name">Janice Rose</span>
                                    <span class="job">Mathematics professor</span>
                                    <p>Suspendisse dolor ipsum, posuere nec velit at, commodo hendrerit neque. Sed vitae dui in sapien convallis rhoncus. Etiam sodales metus era</p>
                                </div>
                            </div>
                        </div><!-- .item -->

                        <div class="item">
                            <div class="team box">
                                <div class="thumb">
                                    <img src="~/images/placeholder/team1.png" alt="" />
                                    <div class="thumb-info">
                                        <div class="socials">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                            </ul>
                                        </div>
                                        <a href="#" class="read-more">Read More</a>
                                    </div><!-- .thumb-info -->
                                </div><!-- .thumb -->

                                <div class="info">
                                    <span class="name">Peter Hart</span>
                                    <span class="job">Economic professor</span>
                                    <p>Nam tempus ipsum non magna varius imperdiet. Etiam non sapien id diam cursus rutrum. Nulla nec leo ultrices, porttitor dui vel ornare massa.</p>
                                </div>
                            </div><!-- .team -->
                        </div><!-- .item -->
                    </div><!-- .slider -->
                </div><!-- .team-slider -->
            </div><!-- .container -->
        </section><!-- #home-professor -->

        <section id="home-partner-4">
            <div class="container">
                <div class="carousel animation-element fade-in">
                    <div class="slider">
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner1.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner2.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner3.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner4.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner5.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner6.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner1.png" alt="" /></a>
                        </div>
                    </div><!-- .slider -->
                </div><!-- .carousel -->
            </div><!-- .container -->
        </section><!-- .home-partner-4 -->
    </main><!-- .site-main -->
</div><!-- .site-content -->

