<div id="content" class="site-content">
    <div class="page-title parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/about-title.jpg">
        <div class="container">
            <h1>About Us</h1>
            <div class="breadcrumb">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><span class="current">About Us</span></li>
                </ul>
            </div><!-- .breadcrumb -->
        </div><!-- .container -->
    </div><!-- .page-title -->

    <main id="main" class="site-main">
        <section id="our-university">
            <div class="container">
                <h2 class="main-title">Our University</h2>

                <div class="row intro-wrap">
                    <div class="col-md-6 info">
                        <h3 class="title">Our Story</h3>
                        <p>In hac habitasse platea dictumst. Sed ut turpis nulla. Aliquam eget turpis vehicula, venenatis sem eu, ultrices dolor. Duis sit amet tincidunt lorem, in fringilla quam. Aenean lobortis quis massa lobortis cursus. Aliquam non suscipit eros, ut aliquet leo. Praesent ac lectus nisl. Sed finibus erat sit amet orci varius, vitae rutrum nisl imperdiet. </p>
                    </div>
                    <div class="col-md-6 thumb">
                        <img src="~/images/placeholder/about1.jpg" alt="" />
                    </div>
                </div><!-- .intro-wrap -->

                <div class="row intro-wrap left-thumb">
                    <div class="col-md-6 info">
                        <h3 class="title">Mission & Vision</h3>
                        <p>Aliquam eget turpis vehicula, venenatis sem eu. Duis sit amet tincidunt lorem, in fringilla quam. Aenean lobortis quis massa lobortis cursus. Aliquam non suscipit eros, ut aliquet leo. Praesent ac lectus nisl. Sed finibus erat sit amet orci varius, vitae rutrum nisl imperdiet. Pellentesque vel ornare est. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                    </div>
                    <div class="col-md-6 thumb">
                        <img src="~/images/placeholder/about2.jpg" alt="" />
                    </div>
                </div><!-- .intro-wrap -->
            </div><!-- .container -->
        </section><!-- #our-university -->

        <section id="about-featured">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="service-box">
                            <span class="icon"><img src="~/images/assets/icons/icon1.png" alt="" /></span>
                            <h3>Top university</h3>
                            <span class="desc">Vivamus bibendum maximus finibus. Proin maximus varius elit ut accumsan. Integer in eros varius diam molestie</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="service-box">
                            <span class="icon"><img src="~/images/assets/icons/icon2.png" alt="" /></span>
                            <h3>Best Courses</h3>
                            <span class="desc">Vivamus bibendum maximus finibus. Proin maximus varius elit ut accumsan. Integer in eros varius diam molestie</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-4">
                        <div class="service-box">
                            <span class="icon"><img src="~/images/assets/icons/icon3.png" alt="" /></span>
                            <h3>Award events</h3>
                            <span class="desc">Vivamus bibendum maximus finibus. Proin maximus varius elit ut accumsan. Integer in eros varius diam molestie</span>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- #about-featured -->

        <section id="our-team">
            <div class="container">
                <h2 class="main-title">LeaderShip Unversity</h2>
                <div class="row">
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team1.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Peter Hart</span>
                                <span class="job">Economic professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team2.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Betty Lane</span>
                                <span class="job">Biological Professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team3.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Richard Pierce</span>
                                <span class="job">Economics professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team4.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Janice Rose</span>
                                <span class="job">Mathematics professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team5.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Peter Hart</span>
                                <span class="job">Economic professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team6.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Betty Lane</span>
                                <span class="job">Biological Professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team7.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Richard Pierce</span>
                                <span class="job">Economics professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-4">
                        <div class="team">
                            <div class="thumb">
                                <img src="~/images/placeholder/team8.png" alt="" />
                                <div class="thumb-info">
                                    <div class="socials">
                                        <ul>
                                            <li><a href="#" target="_blank"><i class="fa fa-envelope"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                                        </ul>
                                    </div>
                                    <a href="#" class="read-more">Read More</a>
                                </div><!-- .thumb-info -->
                            </div><!-- .thumb -->

                            <div class="info">
                                <span class="name">Janice Rose</span>
                                <span class="job">Mathematics professor</span>
                            </div>
                        </div><!-- .team -->
                    </div>
                </div>
            </div>
        </section><!-- #our-team -->

        <section id="testimonial" class="testimonial parallax-window" data-parallax="scroll" data-image-src="~/images/placeholder/testimonial-bg.jpg">
            <div class="slider">
                <div class="item">
                    <div class="testimonial-content">
                        University Themes Cras ornare at arcu vitae lacinia. Morbi sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                    </div><!-- .testimonial-content -->
                    <div class="testimonial-author">
                        <div class="thumb">
                            <img src="~/images/placeholder/user15.png" alt="" />
                        </div><!-- .thumb -->
                        <div class="info">
                            <span class="name">Julie Jimenez</span>
                            <span class="job">- Photographer</span>
                        </div><!-- .info -->
                    </div><!-- .testimonial-author -->
                </div><!-- .item -->

                <div class="item">
                    <div class="testimonial-content">
                        University Themes Cras ornare at arcu vitae lacinia. Morbi sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                    </div><!-- .testimonial-content -->
                    <div class="testimonial-author">
                        <div class="thumb">
                            <img src="~/images/placeholder/user15.png" alt="" />
                        </div><!-- .thumb -->
                        <div class="info">
                            <span class="name">Julie Jimenez</span>
                            <span class="job">- Photographer</span>
                        </div><!-- .info -->
                    </div><!-- .testimonial-author -->
                </div><!-- .item -->

                <div class="item">
                    <div class="testimonial-content">
                        University Themes Cras ornare at arcu vitae lacinia. Morbi sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus
                    </div><!-- .testimonial-content -->
                    <div class="testimonial-author">
                        <div class="thumb">
                            <img src="~/images/placeholder/user15.png" alt="" />
                        </div><!-- .thumb -->
                        <div class="info">
                            <span class="name">Julie Jimenez</span>
                            <span class="job">- Photographer</span>
                        </div><!-- .info -->
                    </div><!-- .testimonial-author -->
                </div><!-- .item -->
            </div><!-- .slider -->
        </section><!-- #testimonial -->

        <section id="our-partner">
            <div class="container">
                <div class="carousel">
                    <div class="slider">
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner1.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner2.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner3.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner4.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner5.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner6.png" alt="" /></a>
                        </div>
                        <div class="item">
                            <a href="#"><img src="~/images/placeholder/partner1.png" alt="" /></a>
                        </div>
                    </div><!-- .slider -->
                </div><!-- .carousel -->
            </div><!-- .container -->
        </section><!-- .our-partner -->
    </main><!-- .site-main -->
</div><!-- .site-content -->

